body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-context: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 90%;
}

img {
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 20pxx;
}

p {
  font-size: 1.4rem;
  color: #333;
}
